.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 65px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow:hidden;
}

canvas {
  width: 100%;
  height: 100%
}

.listClass{
  width: auto
}

#AngleDots, #PowerDots{
  display:none;
  z-index: 5;
  bottom: 0;
  height: 85px;
  position: absolute; 
  width: 100vw;
}

#AngleDots > div {
  background-color:#80DEEA;
  justify-content: center;
}


#PowerDots > div {
  background-color:#EF9A9A;
  justify-content: center;
  
}

#AngleDots > div > div, #PowerDots > div > div{
  height:85px;
  margin-top:30px;
}

#AngleDots > div > div > div{
  height:32px;
  width:32px;
}

#PowerDots > div > div > div{
  height:32px;
  width:32px;
}

#PowerBar{
  display:none;
  z-index: 5;
  bottom: 0;
  height: 85px;
  position: absolute; 
  width: 100vw;
}

#PowerBar > div > div{
  height:85px;
  width:100%;
  position:absolute;
  left: 0;
  bottom:0;
  padding:0;
}

#stepperContainer{
  width: 15vw;
  position: absolute;
  top: 100px;
  left: 2vw;
  min-width: 150px;
}

#stepperContainer > div > div{
  background-color:transparent;
}

.stepLabel > span > span{
  color:white !important;
}

#stepperContainer > div > div > div:nth-child(5) > span > span > span{
  color: #80DEEA !important;
}

#stepperContainer > div > div > div:nth-child(7) > span > span > span{
  color: #EF9A9A !important;
}