.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 45px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow:hidden;
}

canvas {
  width: 100%;
  height: 100%
}

.listClass{
  width: auto
}

#PowerBar{
  display:none;
  top: 0px;
  height: 64px;
  position: absolute; 
  width: 100vw;
}

#stepperContainer > div{
  height:64px;
  width:100%;
  position:absolute;
  left: 0;
  top:0;
  padding:0;
}